
<%= simple_form_for(provider) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Имя' %>
    <%= f.input :phone_number, label: 'Номер телефона' %>
    <% unless provider.persisted? %>
      <%= f.input :debt_in_uzs, label: 'Наш долг в сум', as: :numeric %>
      <%= f.input :debt_in_usd, label: 'Наш долг в $', as: :numeric %>
    <% end %>
    <%= f.input :comment, label: 'Коммент' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
