<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <% unless defined?(shrink) %>
        <th>ID</th>
      <% end %>
      <th>имя</th>
      <th>наш долг в $</th>
      <th>наш долг в суме</th>
      <% unless defined?(shrink) %>
        <th>номер телефона</th>
        <th>Коммент</th>
        <th>Оформлено в</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% providers.each do |provider| %>
      <tr class="<%= active_tr(provider.active) %>">
        <% unless defined?(shrink) %>
        <td><%= provider.id %></td>
        <% end %>
        <td><%= provider.name %></td>
        <td><%= link_to number_to_currency(provider.calculate_debt_in_usd), delivery_from_counterparties_path(q_other: { total_paid_less_than_price: "1" }, q: {provider_id_eq: provider.id, price_in_usd_true: true}) %></td>
        <td><%= link_to num_to_usd(provider.calculate_debt_in_uzs), delivery_from_counterparties_path(q_other: { total_paid_less_than_price: "1" }, q: {provider_id_eq: provider.id, price_in_usd_true: false}) %></td>
        <% unless defined?(shrink) %>
          <td><%= provider.phone_number %></td>
          <td><%= provider.comment %></td>
          <td><%= strf_datetime(provider.created_at) %></td>
          <td>
            <%= clink_to 'Редактировать', edit_provider_path(provider), 'fa-edit' %>
            <%= clink_to 'История прихода товаров от поставщика', delivery_from_counterparties_path(q: {provider_id_eq: provider.id}), 'fa-history' %>
            <% if provider.active %>
              <%= clink_to 'Деактивировать', toggle_active_provider_path(provider), 'fa-ban', :post %>
            <% else %>
              <%= clink_to 'Активировать', toggle_active_provider_path(provider), 'fa-chart-line', :post %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
