<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= provider.phone_number %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= provider.comment %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= provider.active %>
  </p>

</div>
