<tr class="<%= active_tr(service.active) %>">
  <td style='color: green' ><%= service.id %></td>
  <td><%= service.name %></td>
  <td><%= service.unit %></td>
  <td><%= service.team_fee_in_percent %>%</td>

  <td><%= clink_to 'Редактировать', edit_service_path(service), 'fa-edit' %></td>
  <td>
    <% if service.active %>
      <%= clink_to 'Деактивировать', toggle_active_service_path(service), 'fa-ban', :post %>
    <% else %>
      <%= clink_to 'Активировать', toggle_active_service_path(service), 'fa-chart-line', :post %>
    <% end %>
  </td>
</tr>
