<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= service.unit %>
  </p>

  <p>
    <strong>Service price:</strong>
    <%= service.service_price %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= service.active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= service.user_id %>
  </p>

  <p>
    <strong>Team fee in percent:</strong>
    <%= service.team_fee_in_percent %>
  </p>

</div>
