<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Сервисы</h3>
      <%= link_to 'Добавить новый', new_service_path, class: "btn btn-success min-width-btn" %>
      <%= render 'form', service: Service.new %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= sort_link @q, :id, 'ID' %></th>
            <th><%= sort_link @q, :name, 'Название' %></th>
            <th>Измерение</th>
            <th>доля бригадеров</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <turbo-stream action="prepend" target="new_service">
            <% services.each do |service| %>
              <%= render 'new_service', service: service %>
            <% end %>
          </turbo-stream>
        </tbody>
      </table>
    </div>
    <%= paginate services %>
  </div>
</div>
