<div id="<%= dom_id delivery_from_counterparty %>">
  <p>
    <strong>Total price:</strong>
    <%= delivery_from_counterparty.total_price %>
  </p>

  <p>
    <strong>Total paid:</strong>
    <%= delivery_from_counterparty.total_paid %>
  </p>

  <p>
    <strong>Paid in usd:</strong>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= delivery_from_counterparty.comment %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= delivery_from_counterparty.provider_id %>
  </p>

</div>
