<div class='card shadow-lg p-2'>
  <%= simple_form_for(delivery_from_counterparty) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :status, as: :hidden, input_html: { value: 1 } %>

    <div class="row">
      <div class='col-sm-3 col-md-2'>
        <%= f.input :total_price, label: 'Итого цена', disabled: true %>
      </div>
      <div class='col-sm-3 col-md-2'>
        <%= f.input :total_paid, label: 'Итого оплачено', input_html: {placeholder: 'Пропустите этот поле если вы оплатили полностью'} %>
      </div>
      <div class='col-sm-3 col-md-2'>
        <%= f.association :provider, label: 'Поставщик', collection: Provider.active.order(weight: :desc), include_blank: false %>
      </div>
      <div class='col-sm-3 col-md-2'>
        <%= f.input :payment_type, label: 'Тип оплаты', collection: DeliveryFromCounterparty.payment_types.keys.map { |unit| [DeliveryFromCounterparty.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
      </div>
      <div class='col-sm-3 col-md-2'>
        <%= f.input :comment, label: 'Комментарии' %>
      </div>
      <div class='col-sm-3 col-md-2 align-self-center'>
        <div class="form-actions">
          <%= f.button :submit, 'Закрыть проводку' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
