<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(delivery_from_counterparty) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :status, as: :hidden, input_html: { value: 1 } %>
    <div class='form-inputs'>
      <%= f.input :total_price, label: 'Итого цена', disabled: true %>
      <%= f.input :total_paid, label: 'Итого оплачено' %>
      <%= f.association :provider, label: 'Поставщик', collection: Provider.active.order(weight: :desc).order(name: :asc), include_blank: false %>
      <%= f.input :payment_type, label: 'Тип оплаты', collection: DeliveryFromCounterparty.payment_types.keys.map { |unit| [DeliveryFromCounterparty.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
      <%= f.label :price_in_usd, 'Договор в $' %>
      <%= f.input :price_in_usd, label: false %>
      <%= f.input :comment, label: 'Комментарии' %>
      <%= f.button :submit, 'Закрыть проводку' %>
    </div>
  <% end %>
</div>
