<div id="<%= dom_id debt_operation %>">
  <p>
    <strong>Debt in usd:</strong>
    <%= debt_operation.debt_in_usd %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= debt_operation.status %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= debt_operation.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= debt_operation.user_id %>
  </p>

  <p>
    <strong>Debt user:</strong>
    <%= debt_operation.debt_user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= debt_operation.comment %>
  </p>

</div>
