<div id="<%= dom_id product_size_color %>">
  <p>
    <strong>Color:</strong>
    <%= product_size_color.color_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product_size_color.size_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= product_size_color.amount %>
  </p>

  <p>
    <strong>Pack:</strong>
    <%= product_size_color.pack_id %>
  </p>

</div>
