<% rate = CurrencyRate.last.rate %>

<div class='p-3' style='color: black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;'>
  <%= simple_form_for(product_sell) do |f| %>
    <div class='form-inputs'>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.association :sale, as: :hidden %>
      <%= f.input :barcode, label: 'поиск по кодам:', input_html: {id: 'code-input', autofocus: 'true'} %>
      <%= f.association :pack, label: 'или выберите пачку', collection: Pack.all.order('LOWER(name) ASC'), include_blank: true, input_html: { id: 'pack-select' } %>
      <%= f.input :amount, label: 'Количество', input_html: {value: ''} %>
      <div class='row'>
        <div class='col-sm-6'><%= f.input :sell_price, label: 'Цена в $' %></div>
        <div class='col-sm-6'><%= f.input :sell_price_in_uzs, label: 'Цена cум' %></div>
      </div>
      <%= f.input :initial_remaining, label: 'остаток', input_html: { disabled: true } %>
      <%= f.input :rate, as: :hidden %>
      <%= f.submit "Создать", class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>


<script>
  $(document).ready(function() {
    $('form').on('keypress', e => {
      if (e.keyCode == 13) {
        return false;
      }
    });

    $("input").focus(function() {
      $(this).select();
    });

    document.querySelector('#pack-select').addEventListener('change', function(e) {
      document.querySelector('#product_sell_amount').value = 1;
      handleProductChange();
      calculateSalePrice();
    })

    document.querySelector('#product_sell_amount').addEventListener('change', function(e) {
      e.preventDefault();
      console.log('amount changed')
      calculateSalePrice()
    });

    function calculateSalePrice(){
      var product_id = document.querySelector('#pack-select').value;
      var sell_price = document.querySelector('#product_sell_sell_price').value;
      var amount = document.querySelector('#product_sell_amount').value;
      var customActionURL = '/product_sells/ajax_sell_price_request';
      var data = {
        pack_id: product_id,
        amount: amount
      };
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
      if(sell_price != 0 || sell_price != null){
        fetch(customActionURL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          },
          body: JSON.stringify(data)
        })
        .then(function(response) {
          if (response.ok) {
            return response.json();;
          } else {
            console.log('error occured: ', response)
            throw new Error('Error: ' + response.text());
          }
        })
        .then(function(responseText) {
          document.querySelector('#product_sell_sell_price').value = responseText.average_sell_price_in_usd;
          document.querySelector('#product_sell_sell_price_in_uzs').value = responseText.average_sell_price_in_uzs;
        })
        .catch(function(error) {
          console.error(error);
          throw new Error('Error: ' + error);
        });
      }
    }

    var codeInput = document.getElementById('code-input');
    var packSelect = document.getElementById('pack-select');
    var h1Element = document.querySelector('#pack-name');

    packSelect.addEventListener('change', function() {
      // Update the content of the <h1> tag with the selected pack's text content
      var selectedPackOption = packSelect.options[packSelect.selectedIndex];
      var selectedPackText = selectedPackOption ? selectedPackOption.text : '';
      h1Element.textContent = selectedPackText;
    });
    // Event listener for code input change
    codeInput.addEventListener('input', function() {
      // Filter the pack options based on the code input value
      var codeValue = codeInput.value.trim().toLowerCase();

      // Make an AJAX request to the filtered_packs action
      $.ajax({
        url: '/packs/filtered_packs',
        method: 'GET',
        data: { code_value: codeValue },
        dataType: 'script',
        success: function() {
          // Update the content of the <h1> tag with the selected pack's text content
          var selectedPackOption = packSelect.options[packSelect.selectedIndex];
          var selectedPackText = selectedPackOption ? selectedPackOption.text : '';
          h1Element.textContent = selectedPackText;
          handleProductChange();
          document.querySelector('#product_sell_amount').value = 1;
        }
      });
    });

     function handleProductChange() {
      var productSelect = document.querySelector("#pack-select");
      var initialRemainingInput = document.querySelector("#product_sell_initial_remaining");

      if (productSelect) {
        var productId = productSelect.value;
        fetch('/packs/' + productId + '/calculate_product_remaining')
          .then(response => response.json())
          .then(data => {
            initialRemainingInput.value = data.calculate_product_remaining;
          })
          .catch(error => console.error('Error:', error));
      }
    }
  })
</script>
