<div id="<%= dom_id product_sell %>">
  <p>
    <strong>Combination of local product:</strong>
    <%= product_sell.combination_of_local_product_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_sell.product_id %>
  </p>

  <p>
    <strong>Sell price in usd:</strong>
    <%= product_sell.sell_price_in_usd %>
  </p>

  <p>
    <strong>Sell price in uzs:</strong>
    <%= product_sell.sell_price_in_uzs %>
  </p>

  <p>
    <strong>Buy price in usd:</strong>
    <%= product_sell.price %>
  </p>

  <p>
    <strong>Buy price in uzs:</strong>
    <%= product_sell.price %>
  </p>

  <p>
    <strong>Total profit in usd:</strong>
    <%= product_sell.total_profit_in_usd %>
  </p>

  <p>
    <strong>Total profit in uzs:</strong>
    <%= product_sell.total_profit_in_uzs %>
  </p>

  <p>
    <strong>payment_type:</strong>
    <%= product_sell.payment_type %>
  </p>

</div>
