<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to 'Продажа', sales_path, class: 'btn btn-secondary' %>
        <button type="button" class="btn btn-primary">Посмотреть детально</button>
      </div>
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Продажа товаров</h3>
    </div>

    <div class="card-body">
      <%= render 'filter_form', q: @q, url: request.path %>
      <%= render 'product_sells', product_sells: @product_sells %>
      <%= paginate @product_sells %>
      <table class='table-bordered'>
        <thead>
          <tr>
            <th></th>
            <th>Итого цена</th>
            <th>Итого доход</th>
            <th>Разница</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>В долларах </th>
            <td><%= number_to_currency @product_sells_data.where(price_in_usd: true).sum(:sell_price) %></td>
            <td><%= number_to_currency @product_sells_data.where(price_in_usd: true).sum(:total_profit) %></td>
            <td><%= number_to_currency(@product_sells_data.where(price_in_usd: true).sum(:sell_price) - @product_sells_data.where(price_in_usd: true).sum(:total_profit)) %></td>
          </tr>
          <tr>
            <th>В сумах </th>
            <td><%= num_to_usd(@product_sells_data.where(price_in_usd: false).sum(:sell_price)) %></td>
            <td><%= num_to_usd @product_sells_data.where(price_in_usd: false).sum(:total_profit) %></td>
            <td><%= num_to_usd(@product_sells_data.where(price_in_usd: false).sum(:sell_price) - @product_sells_data.where(price_in_usd: false).sum(:total_profit)) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
