<div id="<%= dom_id sale_from_service %>">
  <p>
    <strong>Total paid:</strong>
    <%= sale_from_service.total_paid %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= sale_from_service.payment_type %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= sale_from_service.buyer_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sale_from_service.total_price %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= sale_from_service.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale_from_service.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sale_from_service.status %>
  </p>

</div>
