<style>
  .clicked{
    background-color: yellow;
    transition: background-color 2s;
  }
</style>
<div>
  <div class='row'>
    <div class='col-sm-4 main-page-header'>
      <div>
        <h4 class='text-center'>Покупатели</h4>
        <div style="max-height: 660px; overflow: auto">
          <%= render 'buyers/buyers', buyers: @buyers, shrink: true %>
        </div>
      </div>
    </div>
    <div class='col-sm-4'>
      <div>
        <h4 class='text-center'>Поставщики</h4>
        <div style="max-height: 660px; overflow: auto">
          <%= render 'providers/providers', providers: @providers, shrink: true %>
        </div>
      </div>
    </div>
    <div class='col-sm-5 main-page-header' style = "max-width: 400px; overflow: auto">
      <div>
        <h4 class='text-center'>Касса</h4>
        <table class='table'>
          <thead>
            <tr>
              <th>Итого</th>
              <th>Количество</th>
              <th>В долларах</th>
              <th>Оплачено</th>
              <th>В сумах</th>
              <th>Оплачено</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Продажа</th>
              <td><%= @sales_in_usd.count + @sales_in_uzs.count %></td>
              <td><%= number_to_currency @sales_in_usd.sum(:total_price) %></td>
              <td><%= number_to_currency @sales_in_usd.sum(:total_paid) %></td>
              <td><%= num_to_usd @sales_in_uzs.sum(:total_price) %></td>
              <td><%= num_to_usd @sales_in_uzs.sum(:total_paid) %></td>
            </tr>
            <tr>
              <th>Приход товара</th>
              <td><%= @delivery_from_counterparties_in_usd.count + @delivery_from_counterparties_in_uzs.count %></td>
              <td><%= number_to_currency @delivery_from_counterparties_in_usd.sum(:total_price) %></td>
              <td><%= number_to_currency @delivery_from_counterparties_in_usd.sum(:total_paid) %></td>
              <td><%= num_to_usd @delivery_from_counterparties_in_uzs.sum(:total_price) %></td>
              <td><%= num_to_usd @delivery_from_counterparties_in_uzs.sum(:total_paid) %></td>
            </tr>
            <tr>
              <th>Расходы</th>
              <td><%= @expenditures_in_usd.count + @expenditures_in_uzs.count %></td>
              <td><%= number_to_currency @expenditures_in_usd.sum(:price) %></td>
              <td><%= number_to_currency @expenditures_in_usd.sum(:total_paid) %></td>
              <td><%= num_to_usd @expenditures_in_uzs.sum(:price) %></td>
              <td><%= num_to_usd @expenditures_in_uzs.sum(:total_paid) %></td>
            </tr>
            <tr>
              <th>Зарплата/Аванс</th>
              <td><%= @total_salary.count %></td>
              <td style='text-align:center' colspan='3'><%= num_to_usd @total_salary.sum(:price) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
    const searchParams = new URLSearchParams(window.location.search);
    const id = searchParams.get('name'); // price_descending
    console.log('this is hash', id)
    if (id) {
      const element = document.getElementById(id);
      if (element) {
        element.scrollIntoView({ behavior: "smooth" });
      }
    }
</script>
