<% rate = CurrencyRate.where(finished_at: nil).last.rate %>

<%= simple_form_for(@salary) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if @hidden || @salary.persisted? %>
      <%= f.association :user, label: false, collection: User.active, label_method: :name, value_method: :id, as: :hidden %>
      <%= f.association :team, label: false, collection: Team.active, label_method: :name, value_method: :id, as: :hidden %>
    <% else %>
      <%= f.association :user, label: 'выберите работникa:', collection: User.active, label_method: :name, value_method: :id %>
    <% end %>
    <%= f.input :month, label: 'Укажите год и месяц:' %>
    <%= f.input :payment_type, label: 'Тип оплаты', collection: Salary.payment_types.keys.map { |unit| [Salary.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :price, as: :numeric, label: 'Сумма:' %>
    <%= f.input :prepayment , label: 'Аванс' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
