<div id="<%= dom_id salary %>">
  <p>
    <strong>Prepayment:</strong>
    <%= salary.prepayment %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= salary.month %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= salary.team_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= salary.user_id %>
  </p>

  <p>
    <strong>Price in usd:</strong>
    <%= salary.price_in_usd %>
  </p>

  <p>
    <strong>Price in uzs:</strong>
    <%= salary.price_in_uzs %>
  </p>

  <p>
    <strong>Paid in usd:</strong>
    <%= salary.payment_type %>
  </p>

</div>
