<div id="<%= dom_id currency_conversion %>">
  <p>
    <strong>Rate:</strong>
    <%= currency_conversion.rate %>
  </p>

  <p>
    <strong>To uzs:</strong>
    <%= currency_conversion.to_uzs %>
  </p>

  <p>
    <strong>User:</strong>
    <%= currency_conversion.user_id %>
  </p>

  <p>
    <strong>Price in uzs:</strong>
    <%= currency_conversion.price_in_uzs %>
  </p>

  <p>
    <strong>Price in usd:</strong>
    <%= currency_conversion.price_in_usd %>
  </p>

</div>
