
<%= simple_form_for(currency_conversion) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :rate, label: 'курс' %>
    <%= f.input :to_uzs,label: 'От $ на сум' %>
    <%= f.input :price_in_usd, label: 'цена' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
