<p style="color: green"><%= notice %></p>

<%= render @currency_conversion %>

<div>
  <%= link_to "Edit this currency conversion", edit_currency_conversion_path(@currency_conversion) %> |
  <%= link_to "Back to currency conversions", currency_conversions_path %>

  <%= button_to "Destroy this currency conversion", @currency_conversion, method: :delete %>
</div>
