<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">дебетор/кредеторы</h3>
      <%= link_to 'Приём/отдача средств', debt_operations_path, class: 'btn btn-warning' %>
      <%= link_to 'Добавить новый', new_debt_user_path, class: "btn btn-success min-width-btn" %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>имя</th>
            <th>разница в $</th>
            <th>разница в сум</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @debt_users.each do |debt_user| %>
            <tr>
              <td><%= debt_user.id %></td>
              <td><%= debt_user.name %></td>
              <td><%= calculate_debt(debt_user, true) %></td>
              <td><%= calculate_debt(debt_user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
