<%
  10.times do
    pack.product_size_colors.build
  end
%>

<div class='container'>
  <%= simple_form_for(pack, url: packs_path, method: :post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs row">
      <div class='col-sm-3'>
        <%= f.input :name, input_html: {autofocus: 'true'} %>
      </div>
      <div class='col-sm-3'>
        <%= f.input :code, input_html: {value: @random_code} %>
        <%= f.input :delivery_id, input_html: {value: params[:delivery_id] }, as: :hidden  %>
      </div>
      <div class='col-sm-3'>
        <%= f.input :barcode, input_html: {value: @random_barcode} %>
      </div>
      <div class='col-sm-3 align-self-center'>
        <%= f.button :submit %>
      </div>
    </div>
    <%= f.fields_for :product_size_colors do |ff| %>
      <div class="row">
        <div class="col-sm-4">
          <%= ff.input :size, label: '', input_html: {placeholder: 'SIZE'} %>
        </div>
        <div class="col-sm-4">
          <%= ff.association :color, label: '', input_html: {placeholder: 'color'} %>
        </div>
        <div class="col-sm-4">
          <%= ff.input :amount, label: '', input_html: {placeholder: 'amount'} %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<script>
  $(document).ready(function() {
    $('form').on('keypress', e => {
        if (e.keyCode == 13) {
            return false;
        }
    });
  })
</script>
