<%
  12.times do
    pack.product_size_colors.build
  end
%>

<div class='m-2'>
  <%= simple_form_for(pack, html: { multipart: true }) do |f| %>
    <div class='row'>
      <div style='box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;' class='form-inputs col-sm-12 col-md-7 m-2 p-4'>
        <% unless pack.persisted? %>
          <div class="row mb-2">
            <div class='col-sm-4 text-center'>размер</div>
            <div class='col-sm-4 text-center'>цвет</div>
            <div class='col-sm-4 text-center'>количество</div>
          </div>
          <div class="row">
            <%= f.fields_for :product_size_colors do |ff| %>
              <div class="col-sm-4 d-flex align-center">
                <div class=''><%= ff.index + 1 %>-</div>
                <%= ff.input :size, label: false %>
              </div>
              <div class="col-sm-4 d-flex align-center">
                <%= ff.association :color, label: false, input_html: {prompt: 'цвет', class: 'color-input'} %>
              </div>
              <div class="col-sm-4">
                <%= ff.input :amount, label: false, input_html: {placeholder: 'количество'} %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div style='box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;' class='form-inputs col-sm-12 col-md-4 m-2'>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :name, label: 'Название пачки', input_html: {autofocus: 'true'} %>
        <%= f.input :code, label: 'код', input_html: {value: @random_code} %>
        <%= f.input :delivery_id, input_html: {value: params[:delivery_id] }, as: :hidden  %>
        <%= f.input :barcode, label: 'баркод',  input_html: {value: @random_barcode} %>
        <%= f.input :initial_remaining, label: 'остаток' %>
        <%= f.label :price_in_usd, 'цена в $' %>
        <%= f.input :price_in_usd, label: false %>
        <%= f.input :sell_price, label: 'цена продажи' %>
        <% unless pack.persisted? %>
          <%= f.input :buy_price, label: 'цена прихода' %>
        <% end %>
        <%= f.submit 'Заверщить', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get all color input elements
    var colorInputs = document.querySelectorAll('.color-input');

    // Event listener for the change event on the first color input
    colorInputs[0].addEventListener('change', function() {
      // Get the value of the first color input
      var firstColorValue = this.value;

      // Set the same value for all other color inputs
      colorInputs.forEach(function(input) {
        input.value = firstColorValue;
      });
    });
  });
</script>

<script>
  $(document).ready(function() {
    $('form').on('keypress', e => {
        if (e.keyCode == 13) {
            return false;
        }
    });
  })
</script>
