
<%= simple_form_for(transaction_history) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :sale, as: :hidden %>
    <%= f.association :sale_from_service, as: :hidden %>
    <%= f.association :sale_from_local_service, as: :hidden %>
    <%= f.association :delivery_from_counterparty, as: :hidden %>
    <%= f.association :expenditure, as: :hidden %>
    <%= f.input :price, label: 'Введите цену', focus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
