<div id="<%= dom_id transaction_history %>">
  <p>
    <strong>Sale:</strong>
    <%= transaction_history.sale_id %>
  </p>

  <p>
    <strong>Sale from service:</strong>
    <%= transaction_history.sale_from_service_id %>
  </p>

  <p>
    <strong>Sale from local service:</strong>
    <%= transaction_history.sale_from_local_service_id %>
  </p>

  <p>
    <strong>Delivery from counterparty:</strong>
    <%= transaction_history.delivery_from_counterparty_id %>
  </p>

  <p>
    <strong>Expenditure:</strong>
    <%= transaction_history.expenditure_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= transaction_history.price %>
  </p>

</div>
