<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Kурсы</h3>
      <%= link_to 'Обновить курс', new_currency_rate_path, class: "btn btn-success min-width-btn" %>
    </div>

    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= sort_link @q, :rate, 'ID' %></th>
            <th><%= sort_link @q, :rate, 'Курс' %></th>
            <th><%= sort_link @q, :created_at, 'От' %></th>
            <th><%= sort_link @q, :finished_at, 'До' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @currency_rates.each do |currency_rate| %>
            <tr>
              <td><%= currency_rate.id %></td>
              <td><%= num_to_usd(currency_rate.rate) %></td>
              <td><%= strf_datetime(currency_rate.created_at) %></td>
              <td><%= strf_datetime(currency_rate.finished_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <%= paginate @currency_rates %>
  </div>
</div>
