<div id="<%= dom_id team_service %>">
  <p>
    <strong>Sale from service:</strong>
    <%= team_service.sale_from_service_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= team_service.total_price %>
  </p>

  <p>
    <strong>Team fee:</strong>
    <%= team_service.team_fee %>
  </p>

  <p>
    <strong>Team portion:</strong>
    <%= team_service.team_portion %>
  </p>

  <p>
    <strong>Company portion:</strong>
    <%= team_service.company_portion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= team_service.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= team_service.comment %>
  </p>

</div>
