<table class="table shadow table-hover table-bordered table-striped" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
  <thead>
    <tr>
      <% unless defined?(shrink) %>
        <th><%= sort_link q, :id, 'ID' %></th>
        <th>Поставщик</th>
      <% end %>
      <th><%= sort_link q, :buy_price, 'Цена прихода' %></th>
      <th>Пвчка</th>
      <th><%= sort_link q, :amount, 'Кол.' %></th>
      <% unless defined?(shrink) %>
        <th><%= sort_link q, :created_at, 'Оформлено в' %></th>
        <td>Исполнитель</td>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% product_entries.each do |product_entry| %>
      <tr>
        <% unless defined?(shrink) %>
          <td class="<%= active_tr(product_entry.amount > product_entry.amount_sold) %>"><%= product_entry.id %></td>
          <td><%= product_entry.provider.name %></td>
        <% end %>
        <td><%= currency_convert(product_entry.paid_in_usd, product_entry.buy_price) %> (<%= currency_convert(product_entry.paid_in_usd, product_entry.buy_price * product_entry.amount) %>)</td>
        <td><%= product_entry.pack.name %></td>
        <td><%= product_entry.amount %></td>
        <% unless defined?(shrink) %>
          <td><%= strf_datetime(product_entry.created_at) %></td>
          <td><%= product_entry.user.name %></td>
        <% end %>
        <td>
          <% unless defined?(shrink) %>
            <%= clink_to 'Редактировать цену продажи', edit_product_entry_path(product_entry), 'fa-edit' %>
          <% end %>
          <% if defined?(deletable) %>
            <%= cdlink_to 'Удалить', product_entry %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
