<div class="card shadow-lg">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Приход от поставщиков', delivery_from_counterparties_path, class: 'btn btn-secondary' %>
      <button type="button" class="btn btn-primary">Детально</button>
    </div>
  </div>
  <%= render 'filter_form', q: @q, url: request.path %>
  <div class="card-body">
    <%= render 'product_entries/product_entries', q: @q, product_entries: @product_entries %>
  </div>
  <%= paginate @product_entries %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Итого цена продажи</th>
        <th>Итого цена прихода</th>
        <th>Разница</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>В долларах </th>
        <td><%= number_to_currency @product_entries_data.paid_in_usd.sum(:sell_price) %></td>
        <td><%= number_to_currency @product_entries_data.paid_in_usd.sum(:buy_price) %></td>
        <td><%= number_to_currency(@product_entries_data.paid_in_usd.sum(:sell_price) - @product_entries_data.paid_in_usd.sum(:buy_price)) %></td>
      </tr>
      <tr>
        <th>В сумах </th>
        <td><%= num_to_usd(@product_entries_data.paid_in_uzs.sum(:sell_price)) %></td>
        <td><%= num_to_usd @product_entries_data.paid_in_uzs.sum(:buy_price) %></td>
        <td><%= num_to_usd(@product_entries_data.paid_in_uzs.sum(:sell_price) - @product_entries_data.paid_in_uzs.sum(:buy_price)) %></td>
      </tr>
    </tbody>
  </table>
</div>
