
<%= simple_form_for(owners_operation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user, collection: users, label: 'Выберите руководителя' %>
    <%= f.input :operation_type, label: 'Тип документа', collection: OwnersOperation.operation_types.keys.map { |unit| [OwnersOperation.human_attribute_name("unit.#{unit}"), unit] }, include_blank: false %>
    <%= f.input :price_in_usd, label: 'цена в $' %>
    <%= f.input :price, label: 'цена' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить' %>
  </div>
<% end %>
