<div id="<%= dom_id owners_operation %>">
  <p>
    <strong>User:</strong>
    <%= owners_operation.user_id %>
  </p>

  <p>
    <strong>Outcome:</strong>
    <%= owners_operation.outcome %>
  </p>

  <p>
    <strong>Price in usd:</strong>
    <%= owners_operation.price_in_usd %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= owners_operation.price %>
  </p>

</div>
