<div id="<%= dom_id discount %>">
  <p>
    <strong>Sale:</strong>
    <%= discount.sale_id %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= discount.verified %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= discount.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= discount.user_id %>
  </p>

</div>
