<div id="<%= dom_id expenditure %>">
  <p>
    <strong>Combination of local product:</strong>
    <%= expenditure.combination_of_local_product_id %>
  </p>

  <p>
    <strong>Price in usd:</strong>
    <%= expenditure.price_in_usd %>
  </p>

  <p>
    <strong>Price in uzs:</strong>
    <%= expenditure.price_in_uzs %>
  </p>

  <p>
    <strong>payment_type:</strong>
    <%= expenditure.payment_type %>
  </p>

  <p>
    <strong>Total paid:</strong>
    <%= expenditure.total_paid %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= expenditure.type %>
  </p>

</div>
