<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= buyer.phone_number %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= buyer.comment %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= buyer.active %>
  </p>

</div>
