<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <% unless defined?(shrink) %>
        <td>Проводка<br>закрыто</td>
      <% end %>
      <th>Покупатель</th>
      <th>Итого цена</th>
      <% unless defined?(shrink) %>
        <th>Итого доход</th>
      <% end %>
      <th>Оплачено</th>
      <% unless defined?(shrink) %>
        <th>Тип оплаты</th>
        <th>Коммент.</th>
      <% end %>
      <% unless defined?(shrink) %>
        <th>Дата продажи</th>
        <th>Исполнитель</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% sales.each do |sale| %>
      <tr>
        <td class="<%= detect_danger_row(sale.total_price, sale.total_paid) %>"><%= sale.id %></td>
        <% unless defined?(shrink) %>
          <td><%= active_check(sale.closed?) %></td>
        <% end %>
        <td><%= sale.buyer.name %></td>
        <td><%= currency_convert(sale.price_in_usd, sale.total_price) %></td>
        <% unless defined?(shrink) %>
          <td><%= currency_convert(sale.price_in_usd, sale.total_profit) %></td>
        <% end %>
        <td><%= currency_convert(sale.price_in_usd, sale.total_paid) %></td>
        <% unless defined?(shrink) %>
          <td><%= sale.payment_type %></td>
          <td><%= sale.comment %></td>
          <td><%= strf_datetime sale.created_at %></td>
          <td><%= sale.user.name %></td>
        <% end %>
        <td>
          <%= clink_to 'Посмотреть', sale_path(sale), 'fa-search' %>
          <% if sale.closed? %>
            <%= render 'sales/sale_transaction', sale: sale %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
