<div id="<%= dom_id sale %>">
  <p>
    <strong>Total paid:</strong>
    <%= sale.total_paid %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= sale.payment_type %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= sale.buyer_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sale.total_price %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= sale.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sale.status %>
  </p>

</div>
