<div class='container'>
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title font-weight-bold">Продажа</h3>
  </div>
  <% unless @sale.closed? %>
    <%= render 'product_sells/form', product_sell: @product_sell, products: @products %>
  <% end %>
  <br><br>

  <div class='row'>
    <div class='col-sm-12'>
      <% unless @product_sells.count.zero? %>
        <%= render 'product_sells/product_sells', product_sells: @product_sells %>
      <% end %>
    </div>
  </div>
  <br><br><hr>
  <div class='d-flex justify-content-around'>
  <b>ИТОГО ЦЕНА: <%= num_to_usd @sale.calculate_total_price %></b>
  <b>ИТОГО КОЛИЧЕСТВО: <%= @sale.product_sells.sum(:amount) %></b>
</div>
  <% unless @sale.closed? %>
    <%= render 'sales/form', sale: @sale %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $("input").focus(function() {
      $(this).select();
    });
  });
</script>
