<nav class="navbar navbar-expand-lg navbar bg-dark">
  <%= link_to 'SAM NERJ', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Продажа товаров', product_sells_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Посмотреть список
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Продажи', sales_path, class: 'dropdown-item' %>
          <%= link_to 'Расходов', expenditures_path, class: 'dropdown-item' %>
          <%= link_to 'Приход товаров', delivery_from_counterparties_path, class: 'dropdown-item' %>
          <%= link_to 'Поставщиков', providers_path, class: 'dropdown-item' %>
          <%= link_to 'Покупателей', buyers_path, class: 'dropdown-item' %>
          <%= link_to 'Товар/материалов', products_path, class: 'dropdown-item' %>
          <%= link_to 'Зарплат/Аванс', salaries_path, class: 'dropdown-item' %>
          <%= link_to 'Работников', users_path, class: 'dropdown-item' %>
          <%= link_to 'Переклички работников', participations_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Оформить
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Продажу (alt + 2)', default_create_sales_path, method: :post, class: 'dropdown-item' %>
          <%= link_to 'Приход товара (alt + 5)', default_create_delivery_from_counterparties_path, method: :post, class: 'dropdown-item' %>
          <%= link_to 'Расход (alt + 0)', new_expenditure_path, class: 'dropdown-item' %>
          <%= link_to 'Поставщика', new_provider_path, class: 'dropdown-item' %>
          <%= link_to 'Покупателя', buyers_path, class: 'dropdown-item' %>
          <%= link_to 'Товарa (alt + 1)', new_product_path, class: 'dropdown-item' %>
          <%= link_to 'Зарплату/Аванс', new_salary_path, class: 'dropdown-item' %>
          <%= link_to 'Перекличку работников', new_participation_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Прочие
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Конвертация', currency_conversions_path, class: 'dropdown-item' %>
          <%= link_to 'Шорткаты', shortcut_path, class: 'dropdown-item' %>
          <%= link_to 'Cкидки при продаже', discounts_path, class: 'dropdown-item' %>
          <%= link_to 'История пополнений', transaction_histories_path, class: 'dropdown-item' %>
          <%= link_to 'История изменений остатки товара', product_remaining_inequalities_path, class: 'dropdown-item' %>
          <%= link_to 'Настройки курса', currency_rates_path, class: 'dropdown-item' %>
          <%= link_to 'Приходы/Расходы от руководителей', owners_operations_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
  <ul class="text-center navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name&.capitalize %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Выйти", destroy_user_session_url, method: :delete, data: { confirm: strip_tags('вы уверены?') }, class: "nav-link styled-delete-button", style: 'color: black' %>
          <div class="dropdown-divider"></div>
          <a style= 'color: black' class="nav-link disabled" href="#"><%= num_to_usd(CurrencyRate.last.rate) %>$</a>
        </div>
      </li>
      <li class="nav-item ml-auto">
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Войти", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
<br>
