<div id="<%= dom_id product_remaining_inequality %>">
  <p>
    <strong>Product:</strong>
    <%= product_remaining_inequality.product_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= product_remaining_inequality.amount %>
  </p>

  <p>
    <strong>Previous amount:</strong>
    <%= product_remaining_inequality.previous_amount %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= product_remaining_inequality.reason %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product_remaining_inequality.user_id %>
  </p>

</div>
